/**
 * 提供页面效果
 * email:gmaso1987@163.com.
 * Created by kevin on 2015/11/22.
 * Last changed 2015/12/09.
 */



/* 皮肤设置 */
.s-fc1{color:#000;}
.s-fc2{color:#333;}
.s-fc3{color:#666;}
.s-fc4{color:#999;}
.s-fc5{color:#ccc;}
.s-fc6{color:#fff;}
.s-fc7{color:#39a030;}

.s-bc1{background-color: #f3f3f3;}
.s-bc2{background-color: #f8f8f8;}
.s-bc3{background-color: #fcfcfc;}
.s-bc4{background-color: #fff;}
.s-bc5{background-color: #ccc;}
.s-bc6{background-color: #2c3339;}



/* 总体设置 */
html{background: #aaa;}
body{position: relative;width:1616px;height: 2912px;margin: 0 auto;overflow-x: hidden;background: #fff;}
.ct{width: 1205px;margin: 0 auto;overflow: hidden;}
.j-close{cursor: pointer;}

/* 页面遮罩 */
.mask{top: 0;bottom: 0;left: 0;right: 0;background-color:rgba(40,40,40,0.8);z-index: 20;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828",endColorstr="#282828");}




/* 提示条 */
.g-info{height: 36px;}
.g-info p{font-size: 12px;line-height: 36px;}
.g-info a{color: #21a557;}
.g-info i.sprite{display: inline-block;width: 10px;height: 10px;padding-right: 5px;background: url(../img/sprite.png) -10px -30px no-repeat;}



/* 头部导航 */
.g-hd{height: 89px;font-size: 0;}
.m-hd{margin-top: 31px;}
.m-hd h2,.m-hd span,.m-hd p{display: inline-block;vertical-align: middle;}
.m-hd h2{font: bold 28px/20px "Gill Sans MT Bold","Microsoft Yahei",Verdana,arial,simsun,sans-serif;}
.m-hd>span{width: 2px;height: 18px;margin-left: 10px;background-color: #39a030;}
.m-hd span+h2{margin-left: 13px;vertical-align: -35%;font: 22px/20px "Hiragino Sans GB W3","Microsoft Yahei",Verdana,arial,simsun,sans-serif;}
.m-hd p{margin-left: 13px;font: 12px/21px "宋体",Verdana,arial,simsun,sans-serif;}
.m-hd .logout{width: 42px;height: 21px;border-radius: 2px;margin-left: 30px;background: #21a557 url(../img/sprite.png) -4px -5px no-repeat;color: #fff;padding-left: 8px;cursor: pointer;}
.m-hd .logout:hover{background-color: #2fb556;}
.m-hd .login{width: 82px;height: 19px;border: 1px solid #efefef;border-radius: 2px;margin-left: 30px;background: #f8f8f8 url(../img/sprite.png) -64px -26px no-repeat;color: #333;padding-left: 22px;}
.m-hd .login:hover{background-color: #fff;}
.m-hd .login span{width: 1px;height: 10px;margin-left: 8px;background-color: #ccc;}
.m-hd .login a{color: #999;margin-left: 8px;}
.m-hd .login a:hover{color: #21a577;text-decoration: underline;}

.m-nav{margin-top: 31px;}
.m-nav a{display: inline-block;margin-left: 54px;vertical-align: middle;font: 16px/20px "Hiragino Sans GT W3","Microsoft Yahei",Verdana,arial,simsun,sans-serif;}
.m-nav a:hover{color: #39a030;}
.m-nav a.last{width: 20px;height: 20px;margin-left: 30px;margin-right: 15px;background: url(../img/sprite.png) -10px -48px no-repeat;color: #39a030;overflow: visible;}
.m-nav a.last:hover{background: url(../img/sprite.png) -70px -48px no-repeat;}



/* 轮播头图 */
.g-banner{position: relative;width: 1616px;height: 460px;margin: 0 auto;overflow: hidden;}
.g-banner>div{position: absolute;width: 100%;left: 50%;}
.g-banner .m-slide{display: block;position: absolute;left: -808px;}
.m-slide{position: relative;width: 100%;height: 460px;background: #000;}
.m-slide ol,.m-slide li{position: absolute;top: 0;width: 100%;height: 100%;z-index:10;}
.m-slide li{opacity: 0;-webkit-transition:.5s ease-out;-moz-transition:.5s ease-out;-ms-transition:.5s ease-out;transition:.5s ease-out;-webkit-transition-property:opacity,left,top;-moz-transition-property:opacity,left,top;-ms-transition-property:opacity,left,top;transition-property:opacity,left,top;}
.m-slide li.z-crt{z-index: 11;opacity: 1;}

/* 多点式幻灯指示控制器-居中 */
.u-pointer{position: absolute;bottom: 10px;left: 0;right: 0;z-index: 15;text-align: center;line-height: 0;}
.u-pointer i{display: inline-block;width: 10px;height: 10px;margin: 0 0 0 5px;border-radius: 50%;box-shadow: inset 0 10px 0 rgba(0,0,0,0.5);cursor: pointer;background: #ccc;}
.u-pointer i:first-child{margin-left: 0;}
.u-pointer i:hover{background: #666;}
.u-pointer i.z-crt{background: #333;}



/* 产品介绍 */
.g-intro{height: 235px;padding: 30px 0;}
.m-intro{width: 360px;height: 100%;margin-right: 62px;}
.m-intro:last-child{margin-right: 0;}
.bgi{width: 80px;height: 80px;margin-top: 30px;}
.bgi1{background: url(../img/sprite.png) -10px -90px no-repeat;}
.bgi2{background: url(../img/sprite.png) -10px -180px no-repeat;}
.bgi3{background: url(../img/sprite.png) -10px -270px no-repeat;}
.intro{margin-left: 100px;font: 14px/24px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;}
.intro h3{font: 22px/20px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;margin-top: 22px; margin-bottom: 22px;}
.intro p:last-child{margin-top: 1em;}
.intro a:hover{color: #39a030;text-decoration: underline;}



/* 工作环境 */
.g-ws{position: relative;width: 1616px;height: 220px;margin: 0 auto;}
.g-ws div{position: absolute;width: 100%;height: 100%;left: 50%;}
.g-ws ol{display: block;position: absolute;left: -808px;}
.g-ws li{display:inline-block;width: 320px;height: 220px;margin-right: 4px;}
.g-ws li:last-child{margin-right: 0;}



/* 课程主体 */
.g-bd{height: 1600px;}
.g-bd .ct{padding-top: 80px;}
.courbd{width: 980px;}



/* 课程类型选择 */
.courType{display: inline-block;box-shadow: 0 1px 0 1px #d4d3d3;}
.btnType{width: 200px;font: 20px/50px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #666;background-color:#fff;text-align: center; cursor: pointer;}
.btnType.z-crt{color: #fff;background: #39a030;}

/* 课程列表 */
.courBox{display: block;width: 100%;height: 1220px;padding-top: 30px;}
/* 课程卡片 */
.m-course{float: left;width: 225px;height: 225px;margin-right: 20px;margin-bottom: 20px;background-color: #fff;box-shadow: 0 1px 0 1px #e6e6e6; }
.m-course img{position: relative;width: 223px;height: 124px;padding: 1px 1px 0;}
.m-course h5{font: 14px/20px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #333;padding: 0 5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.m-course .cor-prov{font: 12px/24px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #999; padding: 0 5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.m-course .cor-num{width: 40px;height: 18px;border: 1px solid #999;border-radius: 3px;font: 10px/18px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;background: #fff url(../img/sprite.png) -67px -7px no-repeat;padding-left:18px;margin-left: 5px;}
.m-course .cor-pric{font: 14px/28px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #ff3f00; padding: 0 5px;}
.m-course:hover{box-shadow: 2px 2px 2px 2px #d4d3d3;cursor: pointer;}
.m-course:hover .cor-tit{color: #39a030;}

/* 课程详情弹窗 */
.detailLayer{position: absolute;left: 685.5px;top: 1502px;width: 480px;height: 235px;background-color: #fff;color: #666;box-shadow: 0 0 1px 1px #d0cfd0;}
.detailLayer img{float: left;width: 223px;height: 124px;padding: 11px;}
.detailLayer h4{margin-left: 255px;margin-top: 15px;padding-right: 20px;font: 18px/20px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #333;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.detailLayer .cor-num{margin-left: 255px;margin-top: 11px;font: 12px/20px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;background: #fff url(../img/sprite.png) -67px -5px no-repeat;padding-left: 18px;}
.detailLayer .cor-prov{margin-left: 255px;font: 12px/20px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;padding: 0 5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.detailLayer .cor-category{margin-left: 255px;padding: 0 5px;font: 10px/18px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;}
.detailLayer .cor-descrip{position: absolute;width: 430px;height: 48px;left: 0;bottom: 0;background: #f8f8f8;font: 14px/24px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;padding:18px 30px 18px 20px;text-overflow: clip;overflow: hidden;}
.detailLayer .cor-descrip::after{width: 100%;height: 18px;content:"...";color: #f8f8f8;position:absolute;bottom:0;right:0;/* padding:0 20px 1px 45px;*/background: #f8f8f8;}

/* 课程翻页器 */
.m-page{margin-top: 30px;padding-right: 20px;font: 14px/20px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;}
.m-page a{display: inline-block;width: 20px;height: 20px;margin: 0 3px;text-align: center;}
.m-page .pageprv,.m-page .pagenxt{width: 30px;height: 20px;font-weight: bold;color: #fff;background-color: #9dd8b1;}
.m-page a:hover{color: #fff;background-color: #9dd8b1;}
.m-page .z-crt{color: #9dd8b1;}



/* 侧边栏 */
.courSide{width: 223px;}
.courSide div{background-color: #fff;box-shadow: 0 1px 0 1px #ddd;}
.courSide h3{margin: 0;font-size: 16px;line-height: 55px;color: #333;padding-left: 20px;}
.courSide hr{display: block;height: 1px;background-color: #ddd;border: none;}

/* 机构介绍 */
.vBox p{margin: 0;font-size: 14px;line-height: 22px;color: #666;padding: 16px 0 4px 20px;}
.vBox img{display: inline-block;margin: 0 21px 20px 22px;width: 180px;height: 110px;cursor: pointer;}

/* 热门排行 */
.hotBox{margin-top: 20px;padding-bottom: 20px;}
.m-hotCourse{width: 185px;height: 50px;margin: 20px 0 0 20px;background-color: #fff;}
.m-hotCourse img{float: left;width: 50px;height: 50px;}
.m-hotCourse h5,.m-hotCourse p{margin-left: 62px;}
.m-hotCourse h5{font: 14px/16.8px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #333; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.m-hotCourse p{font: 10px/18px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #999;background: #fff url(../img/sprite.png) -67px -6px no-repeat;margin-top: 5px;padding: 0 0 0 18px;}
.m-hotCourse:hover{box-shadow: 2px 2px 2px 2px #d4d3d3;cursor: pointer;}
.m-hotCourse:hover h5{color: #39a030;}



/* 底部 */
.g-foot{position: absolute;bottom: 0;width: 100%;height: 262px;background: #2c3339;color: #fff;font-size: 14px;line-height: 28px;}
.g-foot .ct{margin-top: 80px;}
.g-foot .link1{margin-left: 100px;}
.g-foot .link2{margin-left: 80px;}
.g-foot .link3{margin-left: 60px;}
.g-foot h2{padding-bottom: 20px;font: 28px "Gill Sans MT Bold","Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #39a030;}
.g-foot p{font-size: 12px;}
.g-foot a{color: #fff;}
.g-foot a:hover{text-decoration: underline;}
.weibo{display: inline-block;width: 70px;background: #2c3339 url(../img/sprite.png) 0px -355px no-repeat;}



/* 登录框 */
.m-logWin{width: 387px;height: 287px;margin:0 auto;top: 287px;background-color: #fff;z-index: 21;}
.m-logWin .j-close{width: 26px;height: 30px;top: 0;right: 0;background:url(../img/sprite.png) -10px -385px no-repeat;}
.m-logWin p{font: 18px/18px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #333;margin-left: 40px;margin-bottom: 20px;padding-top: 30px;}
.m-logWin input{width: 265px;height: 34px;margin-left: 40px;margin-top: 15px;padding: 5px 15px;font: 18px/28px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;background-color: #fafafa;border: 1px solid #dfdfdf;box-shadow: 2px 2px 2px #f1f1f1 inset;}
.m-logWin label{top: 75px;left: 55px;font: 16px/28px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #ccc;border: none;margin: 0;padding: 0;}
.m-logWin label+input+label{top: 137px;left: 55px;}
.btnSubmit{font: 18px/28px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #fff;width: 295px;height: 45px;margin-top: 30px;margin-left: 40px;background-color: #39a030;border: none;box-shadow: 2px 2px #d5e3da;}



/* 视频播放窗口 */
.m-showVideo{width: 950px;height: 680px;margin:0 auto;top: 1200px;background-color: #fff;z-index: 21;}
.m-showVideo .j-close{width: 26px;height: 30px;top: 0;right: 0;background:url(../img/sprite.png) -10px -385px no-repeat;}
.m-showVideo p{font: 18px/18px "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color: #333;margin-left: 31px;margin-bottom: 20px;padding-top: 30px;}
.m-showVideo video{margin-left: 31px;margin-top: 0;}



/* 屏幕适配 */
@media screen and (max-width: 1205px){
  body{width: 1364px;}
  .ct{width: 960px;}
  .g-banner .m-slide{left: -924px;}
  .g-ws ol{left: -924px;}
  .m-intro{width: 280px;height: 100%;margin-right: 60px;}
  .courbd{width: 735px;}
}

/**
 * 完.
 */