/* CSS reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:30px/1.5 "Microsoft Yahei",Verdana,arial,simsun,sans-serif;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}


/* 文字排版 */
.f12{font-size:12px;}
.f14{font-size:14px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f28{font-size:28px;}
.fb{font-size:bold;}
.fn{font-size:normal;}

/* 定位 */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline-block;}
.fr{float:right;display:inline-block;}
/* 在浮动元素的父容器直接清除子元素浮动 */
.clearfix:after{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.pf{position: fixed;}
.pr{position:relative;}
.pa{position:absolute;}
/* IE的专有属性，用于触发hasLayout */
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
.db{display:block;}

/* 长度高度 */
.w50{width:50px;}
.h50{height:50px;}

/* 边距 */
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}

