html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
}

.con {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 150px;
  margin: 10px 0;
  box-sizing: border-box;
  order: 1;
}
.box1, .box2, .box3 {
  border: 1px solid #f00;
}
.box1 {
  height: 120px;
}
.box2 {
  height: 100px;
}
.box3 {
  height: 40px;
}
.box4 {
  height: 200px;
  border: 1px solid #0f0;
}


@media screen and (max-width: 640px) {
  .con {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    .box4 {
      order: 0;
    }
  }
}